html {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0 0 50px 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  display: inline;
}

h2 {
  padding: 0;
  margin: 0;
  display: inline;
}

pre {
  background-color: #dbdbdb;
  border: 1px solid #ddd;
  color: #515450;
  padding: 10px;
  margin: 0 0 20px 0;
}

.title-bar-bg {
  background-color: white;
  border-bottom: 1px solid #c7cac6;
  color: #515450;
  font-weight: bold;
  width: 100%;
  float: left;
  clear: both;
}
.title-bar-bg .title-bar {
  max-width: 1000px;
  margin: 0 auto;
}

.main-container {
  clear: both;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.slider-container {
  position: static;
  font-style: none;
}

.github {
  display: block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0;
}
.github a, .github span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0;
}

var {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  color: #515450;
}

.documentation {
  position: static;
}
.documentation dl {
  font-size: 14px;
  margin: 0 0 20px 0;
}
.documentation dl .key-name {
  font-weight: bold;
  color: #c7cac6;
  font-size: 16px;
}
.documentation dl .var-type {
  font-style: italic;
  color: darkslategrey;
}
.documentation dl dt {
  display: inline;
  color: #c7cac6;
}
.documentation dl dd {
  display: inline;
  margin: 0;
}

ul.modes {
  color: #c7cac6;
}

ul.slides {
  margin: 0;
  padding: 0;
}
ul.slides li {
  list-style: none;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  border-spacing: 1px;
  border-collapse: collapse;
}
table th {
  border: 1px solid #ddd;
  border-spacing: 1px;
  border-collapse: collapse;
  padding: 15px 7px;
  background-color: lightgrey;
}
table td {
  border: 1px solid #ddd;
  border-spacing: 1px;
  border-collapse: collapse;
  padding: 5px 7px;
}
