html {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
}

.title-bar {
  background-color: #00a8c6;
  color: white;
  font-weight: bold;
  width: 100%;
  float: left;
  clear: both;
}

h1 {
  padding: 10px;
}

.main-container {
  clear: both;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.slider-container {
  position: static;
}

.documentation {
  position: static;
}
.documentation dl {
  font-size: 14px;
  margin: 0 0 20px 0;
}
.documentation dl .var-type {
  font-style: italic;
  color: darkslategrey;
}
.documentation dl dt {
  display: inline;
  font-weight: bold;
  color: #00a8c6;
}
.documentation dl dd {
  display: inline;
  margin: 0;
}

ul.modes {
  color: #00a8c6;
}

ul.slides {
  margin: 0;
  padding: 0;
}
ul.slides li {
  list-style: none;
}
