@import "variables";

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0 0 50px 0;
  margin: 0;
}

h1 {
  font-size: 26px;
  padding: 5px 0;
  margin: 0;
  display: inline;
  @media #{$retinaBreakpoint} {
    font-size: 52px;
  }
}

h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: inline;
  @media #{$retinaBreakpoint} {
    font-size: 46px;
  }
}

h3 {
  font-size: 16px;
  padding: 10px 0;
  @media #{$retinaBreakpoint} {
    font-size: 38px;
  }
}

h4 {
  font-size: 14px;
  padding: 10px 0;
  @media #{$retinaBreakpoint} {
    font-size: 34px;
  }
}

p {
  font-size: 12px;
  margin: 0 0 10px 0;
  @media #{$retinaBreakpoint} {
    font-size: $retinaFontSize;
  }
  &.legal {
    font-size: 9px;
    margin: 50px 0;
    text-align: center;
  }
}

pre {
  background-color: #dbdbdb;
  border: 1px solid #ddd;
  color: #515450;
  padding: 10px;
  margin: 0 0 20px 0;
  @media #{$retinaBreakpoint} {
    font-size: $retinaFontSize;
  }
}

code {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  @media #{$retinaBreakpoint} {
    font-size: $retinaFontSize;
  }
}

.title-bar-bg {
  background-color: $white;
  border-bottom: 1px solid $primaryColour;
  color: $darkGrey;
  font-weight: bold;
  width: 100%;
  float: left;
  clear: both;
  padding: 20px 0;
  .title-bar {
    max-width: $maxWidth;
    margin: 0 auto;
    @media #{$largeBreakpoint} {
      width: 94%;
      padding: 0 3%;
    }
  }
}

.main-container {
  clear: both;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  @media #{$largeBreakpoint} {
    width: 94%;
    padding: 0 3%;
  }
}


.container {
  position: static;
  font-style: none;
}

.github {
  display: block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  background-image: url('../images/logos/github.png');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center right;
  margin: 0;
  opacity: .7;
  cursor: pointer;
  a, span {
    display: inline-block;
    color: #3c3c3c;
  }
  &:hover {
    opacity: 1;
  }
}

var {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  color: #515450;
  font-size: 11px;
  @media #{$smallBreakpoint} {
    font-size: 15px;
  }
}

.documentation {

  position: static;

  dl {

    font-size: 14px;
    margin: 0 0 20px 0;

    .key-name {
      font-weight: bold;
      color: $primaryColour;
      font-size: 16px;
    }

    .var-type {
      font-style: italic;
      color: darkslategrey;
    }

    dt {
      display: inline;
      color: $primaryColour;
    }

    dd {
      display: inline;
      margin: 0;
    }

  }
}

ul.modes {
  color: $primaryColour;
}

ul.slides {

  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  .image-slide {

  }

}

table {
  border: 1px solid #ddd;
  border-spacing: 1px;
  border-collapse: collapse;
  th {
    border: 1px solid #ddd;
    border-spacing: 1px;
    border-collapse: collapse;
    padding: 15px 7px;
    background-color: lightgrey;
    font-size: 12px;
    @media #{$retinaBreakpoint} {
      font-size: $retinaFontSize;
      &:nth-child(3)	{ display: none; }
      &:nth-child(4)	{ display: none; }
      &:nth-child(5)	{ display: none; }
    }
    @media #{$smallBreakpoint} {
      &:nth-child(3)	{ display: none; }
    }
    @media #{$mediumBreakpoint} {
      &:nth-child(4)	{ display: none; }
      &:nth-child(5)	{ display: none; }
    }
  }
  td {
    border: 1px solid #ddd;
    border-spacing: 1px;
    border-collapse: collapse;
    padding: 5px 7px;
    font-size: 12px;
    @media #{$retinaBreakpoint} {
      font-size: $retinaFontSize;
      &:nth-child(3)	{ display: none; }
      &:nth-child(4)	{ display: none; }
      &:nth-child(5)	{ display: none; }
    }
    @media #{$smallBreakpoint} {
      &:nth-child(3)	{ display: none; }
    }
    @media #{$mediumBreakpoint} {
      &:nth-child(4)	{ display: none; }
      &:nth-child(5)	{ display: none; }
    }
  }
}